/* M E S S A G E S */
.chat {
    list-style: none;
    background: none;
    margin: 0;
    padding: 0 0 50px 0;
    margin-top: 60px;
    margin-bottom: 15px;
}
.chat li {
    padding: 0.5rem;
    overflow: hidden;
    display: flex;
}
.other .msg {
    border-top-left-radius: 0px;
    box-shadow: -1px 2px 0px #c1cbcd;
}
.other:before {
    content: "";
    position: relative;
    top: 0px;
    right: 0px;
    left: 0px;
    width: 0px;
    height: 0px;
    border: 5px solid #eef8ff;
    border-left-color: transparent;
    border-bottom-color: transparent;
}

.self {
    justify-content: flex-end;
    align-items: flex-end;
}
.self .msg {
    border-bottom-right-radius: 0px;
    box-shadow: 1px 2px 0px #c1cbcd;
}
.self:after {
    content: "";
    position: relative;
    display: inline-block;
    float: right;
    bottom: 0px;
    right: 0px;
    width: 0px;
    height: 0px;
    border: 5px solid #eef8ff;
    border-right-color: transparent;
    border-top-color: transparent;
    box-shadow: 0px 2px 0px #c1cbcd;
}

.msg {
    background: #eef8ff;
    max-width:50%;
    min-width: 50px;
    padding: 10px;
    border-radius: 2px;
    word-break: break-all;
}
.msg .user {
    font-size: 14px;
    margin: 0 0 2px 0;
    color: #666;
    font-weight: 700;
    margin-top: -2px;
    margin-bottom: 5px;
    transition: all .2s ease;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.msg .user  {
    display: inline-block;
    font-size: 10px;
    font-weight: 300;
    color: #6aea96;
    padding: 2px;
    border-radius: 3px;
    border: solid 1px #6aea96;
    background: rgba(255,255,255,0);
    margin-left: 5px;
}
.msg p {
    font-size: 13px;
    margin: 0 0 2px 0;
    color: #777;
    transition: all .2s ease;
}

.msg time {
    font-size: 0.7rem;
    color: rgba(0,0,0,.35);
    margin-top: 3px;
    float: right;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.msg time:before{
    content:"\f017";
    color: #ddd;
    font-family: FontAwesome;
    display: inline-block;
    margin-right: 4px;
}
